@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.aside {
  padding: 72px 0 162px 0px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}

@media all and (max-width: 1200px) {
  .aside {
    padding: 66px 0 142px 0px;
  }
}

@media all and (max-width: 992px) {
  .aside {
    padding: 58px 0 122px 0px;
  }
}

@media all and (max-width: 576px) {
  .aside {
    padding: 48px 0 80px 0px;
  }
}

.aside__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 43px;
}

.aside__wrapper-title h3 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 400;
}

@media all and (max-width: 1200px) {
  .aside__wrapper-title h3 {
    font-size: 42px;
  }
}

@media all and (max-width: 992px) {
  .aside__wrapper-title h3 {
    font-size: 36px;
  }
}

@media all and (max-width: 576px) {
  .aside__wrapper-title h3 {
    font-size: 30px;
  }
}

.aside__wrapper-title p {
  font-size: 36px;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .aside__wrapper-title p {
    font-size: 30px;
  }
}

@media all and (max-width: 992px) {
  .aside__wrapper-title p {
    font-size: 26px;
  }
}

@media all and (max-width: 576px) {
  .aside__wrapper-title p {
    font-size: 22px;
  }
}

.aside__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside__card {
  width: 320px;
  height: 420px;
  background: #FFFFFF;
  border: 1px solid #8DD83D;
  border-radius: 4px;
  line-height: 29px;
  -webkit-transition: 1s;
  transition: 1s;
}

.aside__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media all and (max-width: 992px) {
  .aside__card {
    margin-bottom: 20px;
  }
}

.card {
  width: 100%;
}

.card__img img {
  width: 318px;
  height: 180px;
}

.card__description {
  padding: 16px 0px 0px 22px;
}

.card__description h4 {
  font-size: 18px;
  color: #435766;
  font-weight: 400;
}

.card__description p {
  font-size: 24px;
  color: #435766;
  padding-top: 13px;
}

.card__button {
  text-align: center;
  padding: 38px 0px 27px 0px;
}

.card__button button {
  padding: 20px 23px;
  background: #8DD83D;
  font-size: 16px;
  border-radius: 4px;
}

.card__button button:hover {
  background: #67a525;
}

.card__button button a {
  font-size: 16px;
  color: #FFFFFF;
}

.img__pad-gg {
  padding: 59.5px 54.5px;
}

.img__pad-mixer {
  padding: 33px 59px;
}

.design {
  background: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 638px;
}

@media all and (max-width: 1200px) {
  .design {
    height: 80%;
  }
}

.design__wrapper {
  padding: 160px 0px 145px 130px;
}

@media all and (max-width: 1200px) {
  .design__wrapper {
    padding: 140px 0px 135px 115px;
  }
}

@media all and (max-width: 992px) {
  .design__wrapper {
    padding: 80px 20px;
    text-align: center;
  }
}

@media all and (max-width: 576px) {
  .design__wrapper {
    padding: 40px 0px 40px 00px;
  }
}

.design__title h4 {
  font-size: 52px;
  color: #FFFFFF;
  font-weight: 400;
}

@media all and (max-width: 1200px) {
  .design__title h4 {
    font-size: 48px;
  }
}

@media all and (max-width: 992px) {
  .design__title h4 {
    font-size: 42px;
  }
}

@media all and (max-width: 576px) {
  .design__title h4 {
    font-size: 36px;
  }
}

.design__title p {
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  padding: 20px 0px 40px 0px;
}

@media all and (max-width: 1200px) {
  .design__title p {
    font-size: 26px;
  }
}

@media all and (max-width: 992px) {
  .design__title p {
    font-size: 22px;
  }
}

@media all and (max-width: 576px) {
  .design__title p {
    font-size: 18px;
  }
}

.design__btn button a {
  color: #FFFFFF;
  font-size: 16px;
}

.design__btn-lab {
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  padding: 22px 46px;
  color: #FFFFFF;
}

.design__btn-lab:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #686C6F), color-stop(0%, #373A3C));
  background: linear-gradient(180deg, #686C6F 100%, #373A3C 0%);
}

@media all and (max-width: 1200px) {
  .design__btn-lab {
    padding: 20px 44px;
  }
}

@media all and (max-width: 992px) {
  .design__btn-lab {
    padding: 18px 40px;
  }
}

@media all and (max-width: 576px) {
  .design__btn-lab {
    padding: 16px 34px;
  }
}

._lab-color {
  background: #8DD83D;
  border-radius: 4px;
  margin-left: 10px;
}

._lab-color:hover {
  background: #67a525;
}

@media all and (max-width: 992px) {
  ._lab-color {
    margin-left: 0px;
    margin-top: 10px;
  }
}
