@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.container {
  max-width: 1594px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 50px;
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    padding: 0px 30px;
  }
}

@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
    width: 100%;
    padding: 0px 0px;
  }
}

@media all and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

.header {
  background: #373A3C;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 992px) {
  .logo {
    padding-left: 15px;
  }
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #373A3C;
  top: 80px;
}

@media all and (max-width: 768px) {
  .nav {
    overflow: hidden;
  }
}

.nav {
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  z-index: 2;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu a {
  display: block;
  font-size: 16px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 992px) {
  .menu a {
    padding: 18px;
  }
}

@media all and (max-width: 850px) {
  .menu a {
    padding: 12px;
  }
}

.menu a:hover {
  color: #FFFFFF;
}

.menu li {
  position: relative;
}

.menu > li:hover .menu__subitem {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu__item:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
  color: #8DD83D;
}

.menu__item:hover::after {
  content: "\f106";
  font-family: "FontAwesome";
  color: #8DD83D;
}

.menu__subitem {
  background: #373A3C;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu__subitem a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .menu__subitem a:hover {
    background-color: transparent;
    color: gray;
  }
}

.menu__subitem li:last-child a {
  border-bottom: none;
}

.example {
  padding-top: 12px;
}

@media all and (max-width: 992px) {
  .example {
    padding: 10px 0px 0px 16px;
  }
}

@media all and (max-width: 850px) {
  .example {
    padding: 4px 0px 0px 10px;
  }
}

form.example input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  background: #f1f1f1;
  border-radius: 4px;
}

@media all and (max-width: 992px) {
  form.example input[type=text] {
    font-size: 15px;
    padding: 8px;
  }
}

@media all and (max-width: 850px) {
  form.example input[type=text] {
    font-size: 13px;
    padding: 8px;
  }
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

@media (min-width: 768px) {
  .hamb {
    display: none;
  }
}

/* Style label tag */
.hamb-line {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Hide checkbox */
/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

/* Style label tag */
.hamb-line {
  background: #FFFFFF;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 49px;
}

@media all and (max-width: 992px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 28px;
  }
}

@media all and (max-width: 576px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0px;
  }
}

.footer__row-col ul {
  list-style: none;
}

.footer {
  background: #373A3C;
  padding: 70px 0;
}

@media all and (max-width: 992px) {
  .footer {
    padding: 60px 0;
  }
}

@media all and (max-width: 576px) {
  .footer {
    padding: 40px 0;
    text-align: center;
  }
}

.footer__copyright {
  border-top: 1px solid #aaaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 19px;
}

@media all and (max-width: 992px) {
  .footer__copyright {
    padding-top: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (max-width: 576px) {
  .footer__copyright {
    padding-top: 10px;
  }
}

.footer__copyright p {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer__row-col {
  width: 25%;
  padding: 0 15px;
}

@media all and (max-width: 992px) {
  .footer__row-col {
    width: 30%;
  }
}

@media all and (max-width: 576px) {
  .footer__row-col {
    width: 40%;
    padding: 0px 0px 20px 0px;
  }
}

.footer__row-col h4 {
  font-size: 18px;
  color: #8DD83D;
  margin-bottom: 35px;
  font-weight: 500;
}

@media all and (max-width: 992px) {
  .footer__row-col h4 {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 576px) {
  .footer__row-col h4 {
    margin-bottom: 20px;
  }
}

.footer__row-col ul li:not(:last-child) {
  margin-bottom: 29px;
}

.footer__row-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__row-col ul li a:hover {
  color: #8DD83D;
  padding-left: 8px;
}

.footer__row-col .social-links a {
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #8DD83D;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.__pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
