@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
// aside начало---------------------------------------------------------------
.aside {
    padding: 72px 0 162px 0px;
    background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
    @media all and(max-width: 1200px) {
        padding: 66px 0 142px 0px;
    }
    @media all and(max-width: 992px) {
        padding: 58px 0 122px 0px;
    }
    @media all and(max-width: 576px) {
        padding: 48px 0 80px 0px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__wrapper-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 43px;
        h3 {
            font-size: 48px;
            color: #FFFFFF;
            font-weight: 400;
            @media all and(max-width: 1200px) {
                font-size: 42px;
            }
            @media all and(max-width: 992px) {
                font-size: 36px;
            }
            @media all and(max-width: 576px) {
                font-size: 30px;
            }
        }
        p {
            font-size: 36px;
            color: #FFFFFF;
            @media all and(max-width: 1200px) {
                font-size: 30px;
            }
            @media all and(max-width: 992px) {
                font-size: 26px;
            }
            @media all and(max-width: 576px) {
                font-size: 22px;
            }
        }
    }
    &__cards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__card {
        width: 320px;
        height: 420px;
        background: #FFFFFF;
        border: 1px solid #8DD83D;
        border-radius: 4px;
        line-height: 29px;
        transition: 1s;
        &:hover {
            transform: scale(1.1);
        }
        @media all and(max-width: 992px) {
            margin-bottom: 20px;
        }
    }
}

.card {
    width: 100%;
    &__img {
        img {
            width: 318px;
            height: 180px;
        }
    }
    &__description {
        padding: 16px 0px 0px 22px;
        h4 {
            font-size: 18px;
            color: #435766;
            font-weight: 400;
        }
        p {
            font-size: 24px;
            color: #435766;
            padding-top: 13px;
        }
    }
    &__button {
        text-align: center;
        padding: 38px 0px 27px 0px;
        button {
            padding: 20px 23px;
            background: #8DD83D;
            font-size: 16px;
            border-radius: 4px;
            &:hover {
                background: #67a525;
            }
        }
        button a {
            font-size: 16px;
            color: #FFFFFF;
        }
    }
}

.img {
    &__pad-gg {
        padding: 59.5px 54.5px;
    }
    &__pad-mixer {
        padding: 33px 59px;
    }
}

// aside конец-----------------------------------------------------------------
// design начало---------------------------------------------------------------
.design {
    background: url(../img/bg/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 638px;
    @media all and(max-width: 1200px) {
        height: 80%;
    }
    &__wrapper {
        padding: 160px 0px 145px 130px;
        @media all and(max-width: 1200px) {
            padding: 140px 0px 135px 115px;
        }
        @media all and(max-width: 992px) {
            padding: 80px 20px;
            text-align: center;
        }
        @media all and(max-width: 576px) {
            padding: 40px 0px 40px 00px;
        }
    }
    &__title {
        h4 {
            font-size: 52px;
            color: #FFFFFF;
            font-weight: 400;
            @media all and(max-width: 1200px) {
                font-size: 48px;
            }
            @media all and(max-width: 992px) {
                font-size: 42px;
            }
            @media all and(max-width: 576px) {
                font-size: 36px;
            }
        }
        p {
            font-size: 28px;
            line-height: 38px;
            color: #FFFFFF;
            padding: 20px 0px 40px 0px;
            @media all and(max-width: 1200px) {
                font-size: 26px;
            }
            @media all and(max-width: 992px) {
                font-size: 22px;
            }
            @media all and(max-width: 576px) {
                font-size: 18px;
            }
        }
    }
    &__btn {
        button a {
            color: #FFFFFF;
            font-size: 16px;
        }
    }
    &__btn-lab {
        background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
        border-radius: 4px;
        padding: 22px 46px;
        color: #FFFFFF;
        &:hover {
            background: linear-gradient(180deg, #686C6F 100%, #373A3C 0%);
            ;
        }
        @media all and(max-width: 1200px) {
            padding: 20px 44px;
        }
        @media all and(max-width: 992px) {
            padding: 18px 40px;
        }
        @media all and(max-width: 576px) {
            padding: 16px 34px;
        }
    }
}

._lab-color {
    background: #8DD83D;
    border-radius: 4px;
    margin-left: 10px;
    &:hover {
        background: #67a525;
    }
    @media all and(max-width: 1200px) {}
    @media all and(max-width: 992px) {
        margin-left: 0px;
        margin-top: 10px;
    }
}

// design конец----------------------------------------------------------------